@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind custom animation */
@layer utilities {
  .stroke-animation {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw 2s ease forwards;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
}
